
.centered {
    text-align: center;
}

.line1 {
    height: 20px;
}

.line2 {
    height: 40px;
}

.line3 {
    height: 60px;
}

.line4 {
    height: 80px;
}

.line5 {
    height: 100px;
}

.line6 {
    height: 120px;
}

.line7 {
    height: 140px;
}

.line8 {
    height: 160px;
}

.line9 {
    height: 180px;
}

.line5 {
    height: 200px;
}